
<%= devise_error_messages! %>
<div id="body-devise-form">
    <h3>Cadastrar</h3>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),html:{multipart: true}) do |f| %>
      <div id="form-left">
          <%= field_set_tag "Dados de Usuário" do %>
            <div>
              <%= f.text_field :username, placeholder: "Usuário"%>
            </div>
            <div>
            <%= f.email_field :email, placeholder: "E-mail",valur:"" %></div>
            <div>
            <%= f.password_field :password, placeholder: "Senha" %></div>
            <div>
            <%= f.password_field :password_confirmation, placeholder: "Confirmar senha" %></div>

          <% end %>

      </div>
      <div id="form-right">
          <%= field_set_tag "Dados Pessoais" do %>
            <%= fields_for :person do |p| %>
                <%= fields_for :album do |a|%>
                  <%= a.hidden_field :avatar, value: true %>
                  <%= a.label :photo, "Foto de perfiu"%>
                  <%= a.file_field :photo %>
                <%end%>
            <%= p.text_field :name, placeholder: "Nome"%>
            <%= p.text_field :lastname, placeholder: "Sobrenome"%>
            <%= p.text_field :cpf ,placeholder: "CPF"%>
            <%= p.text_field :birthdate ,placeholder: "Data de Nascimento"%>
            <%= p.text_field :city,placeholder: "Cidade"%>
            <%= p.text_field :state,placeholder: "Estado"%>
            <%= p.text_area :about_me, placeholder: "Sobre mim", rows: 3,class: "span3" %>
            <%end%>
          <%end%>
      </div>
    

        <div id="submit"><%= f.submit "Cadastrar", class:"btn btn-warning" %></div> 
</div>
    <% end %>
